[Desktop Entry]
Name=NPM Lens
Comment=NPM package explorer
Exec=npmlens
Icon=io.github.eljijuna.NpmLens
Terminal=false
Type=Application
Categories=Development;
